@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Kaushan+Script&family=Pacifico&family=Cinzel&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: white;
}
/* login styes */
form {
  margin: 60px;
}
.logh1 {
  margin: 20px;
  font-weight: lighter;
  color: rgb(29, 58, 82);
}
.ip-fields {
  position: relative;
  width: 250px;
  height: 44px;
  line-height: 44px;
}
label.un {
  position: absolute;
  top: 0;
  left: -10px;
  width: 100px;
  color: #3b3b5ae8;
  transition: 0.2s all;
  cursor: text;
}
label.pwd {
  position: absolute;
  top: 86px;
  left: -88px;
  width: 100%;
  color: #3b3b5ae8;
  transition: 0.2s all;
  cursor: text;
}
input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #3b3b5ae8;
  box-shadow: none;
  color: #111;
  padding-bottom: 7px;
}
input:focus {
  border-color: blue;
}
.una:focus ~ .un,
.una:valid ~ .un {
  font-size: 14px;
  top: -24px;
  color: blue;
}
.pwds:focus ~ .pwd,
.pwds:valid ~ .pwd {
  font-size: 14px;
  top: 66px;
  color: blue;
}
.logbtn {
  padding: 10px;
  margin-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: rgb(26, 115, 232);
  border: none;
  border-radius: 5px;
  color: aliceblue;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}
.logbtn:hover {
  background-color: rgba(27, 123, 219, 0.877);
}
.logimg {
  height: 50%;
  width: 30%;
  position: absolute;
  left: 0;
  bottom: 0;
}
/* over */
nav {
  background-color: #1aa26000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  width: 100%;
  position: fixed;
  transition: 1s ease;
  z-index: 1;
}
.nav-links {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-left: auto;
  transition: 1s ease;
  overflow-y: hidden;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: #2f2e41;
  letter-spacing: 2px;
  font-weight: 550;
}
.nav-links a:hover {
  border: 2px solid #1aa260;
  padding: 3px 7px;
  background-color: #1aa260;
  color: #ffff;
  transition: 0.3s ease;
  border-radius: 24px;
}
.logo h4 {
  position: relative;
  left: 70px;
  bottom: 1px;
  color: #2f2e41;
  letter-spacing: 2px;
  font-size: 20px;
  font-family: "Pacifico", cursive;
}
.navcolorchange {
  background-color: #2f2e41;
  transition: 1s ease;
}
/* remove flexing after completion add it individually  */
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home {
  position: relative;
  background-image: url("img/homeback1.svg");
  background-repeat: no-repeat;
  background-position: left 0px bottom 10px;
}
.homecontent {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2f2e41;
}
.homecontent h1 {
  position: absolute;
  bottom: 400px;
  font-size: 50px;
  font-family: "Cinzel", serif;
}
.homecontent p {
  font-size: 20px;
  position: absolute;
  bottom: 320px;
  max-width: 50%;
  text-align: center;
}
.homecontent button {
  padding: 14px 20px;
  border-radius: 30px;
  border-style: none;
  color: #2f2e41;
  font-size: 15px;
  margin-top: 10px;
  outline: none;
  position: absolute;
  bottom: 240px;
  left: auto;
  right: 46%;
  font-weight: 600;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.About {
  background-image: url("img/aboutp1.svg");
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: right 60px top 100px;
  /* background-color: rgb(231, 228, 228); */
  position: relative;
}
.aboutcontent {
  color: #2f2e41;
}
.aboutcontent h2 {
  position: absolute;
  top: 90px;
  left: 70px;
  font-size: 54px;
  font-family: "Kaushan Script", cursive;
}
.aboutcontent p {
  position: absolute;
  top: 220px;
  left: 60px;
  text-align: left;
  max-width: 40%;
  font-size: 27px;
  font-style: italic;
  font-family: "Alegreya Sans", sans-serif;
}
.aboutcontent a {
  text-decoration: none;
  color: #1aa260;
}
@media screen and (max-width: 768px) {
  /* login style */
  .logimg {
    position: relative;
    left: 80px;
    top: 500px;
    height: 10%;
    width: 60%;
  }
  .logh1 {
    position: relative;
    bottom: 110px;
  }
  form {
    position: relative;
    bottom: 70px;
  }
  /* over */
  nav {
    display: block;
  }
  .logo h4 {
    top: 12px;
    left: 2rem;
    color: #2f2e41;
    position: absolute;
  }
  .nav-links {
    position: fixed;
    background-color: #1aa260;
    width: 100%;
    height: 100%;
    flex-direction: column;
    clip-path: circle(100px at 100% -10%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 0.5s ease-out;
    pointer-events: none;
  }
  .nav-links a {
    color: white;
  }
  .nav-links li {
    opacity: 0;
  }

  .nav-links li a {
    font-size: 25px;
  }
  .burger {
    position: absolute;
    right: 8%;
    top: 24%;
    cursor: pointer;
    z-index: 2;
  }
  .burger div {
    transition: all 0.5s ease;
  }
  .line1,
  .line2,
  .line3 {
    width: 30px;
    height: 3px;
    background-color: #2f2e41;
    margin: 5px;
  }
  .linecolorchange {
    background-color: white;
  }
  .nav-links.open {
    clip-path: circle(1700px at 70% -30%);
    -webkit-clip-path: circle(1700px at 70% -30%);
    transition: 2s ease-out;
    pointer-events: all;
  }
  .nav-links-colorchange {
    background-color: #1aa260;
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    transition: all 0.5s ease;
  }
  .toggle .line2 {
    transform: translateX(400%);
    transition: all 0.5s ease;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    transition: all 0.5s ease;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
  }
  li.fade {
    opacity: 1;
  }
  section {
    min-height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
  }
  .Home {
    position: relative;
    background-size: 300px;
    background-position: center bottom 10px;
  }
  .homecontent h1 {
    position: absolute;
    top: 7rem;
    font-size: 40px;
  }
  .homecontent p {
    text-align: center;
    max-width: 80%;
    position: absolute;
    top: 11rem;
  }
  .homecontent button {
    position: relative;
    top: 0px;
    left: 0px;
  }
  .About {
    position: relative;
    background-size: 90%;
    background-position: right 120% bottom 6%;
    height: 100vh;
  }
  .aboutcontent h2 {
    position: absolute;
    top: 40px;
  }
  .aboutcontent p {
    position: absolute;
    top: 140px;
    left: 20px;
    max-width: 90%;
    text-align: left;
    font-size: 23px;
  }
}
