@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Kaushan+Script&family=Pacifico&family=Cinzel&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: white;
}
nav {
  background-color: #1aa26000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  width: 100%;
  position: fixed;
  transition: 1s ease;
  z-index: 1;
}
.nav-links {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-left: auto;
  transition: 1s ease;
  overflow-y: hidden;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  /* color: #2f2e41; */
  color: white;
  letter-spacing: 2px;
  font-weight: 550;
}
.nav-links li a {
  display: inline-block;
}
.coollink::after{
  content: '';
  display: block;
  width: 0;
  height: 2.3px;
  /* background: #1aa260; */
  background: white;
  transition: width 0.4s;
}
.coollink:hover::after {
  width: 100%;
  transition: width 0.4s;
}

.logo h4 {
  margin-left: 40px;
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
  font-family: "Pacifico", cursive;
}
.navcolorchange {
  background-color: #2f2e41;
  /* background-color: rgb(15, 79, 91); */
  transition: 1s ease;
}
/* remove flexing after completion add it individually  */
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home {
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0.288)),
    url("img/Homeback.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.homecontent {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}
.homecontent h1 {
  font-size: 50px;
  font-family: "Cinzel", serif;
}
.homecontent p {
  font-size: 20px;
  max-width: 70%;
  text-align: center;
  margin-top: 25px;
  line-height: 1.3;
  color: rgb(255, 255, 255);
  text-shadow: 2px black;
}
.homecontent button {
  padding: 14px 20px;
  border-radius: 30px;
  border-style: none;
  color: white;
  background-color: #1aa260;
  font-size: 15px;
  margin-top: 10px;
  outline: none;
  font-weight: 600;
  margin-top: 30px;
}
.homecontent button:hover{
  color:#1aa260;
  background: white;
  transition: all 0.4s ease;
}
.About {
  background-image: url("img/aboutp1.svg");
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: right 60px top 100px;
  /* background-color: rgb(231, 228, 228); */
  position: relative;
}
.aboutcontent {
  color: #2f2e41;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.aboutcontent h2 {
  font-size: 54px;
  font-family: "Kaushan Script", cursive;
}
.aboutcontent p {
  margin-top: 50px;
  text-align: left;
  max-width: 40%;
  font-size: 27px;
  font-style: italic;
  font-family: "Alegreya Sans", sans-serif;
}
.aboutcontent a {
  text-decoration: none;
  color: #1aa260;
}
@media screen and (max-width: 768px) {
  nav {
    display: block;
  }
  .logo h4 {
    position: absolute;
    margin-top: 14px;
  }
  .nav-links {
    position: fixed;
    background-color: #1aa260;
    width: 100%;
    height: 100%;
    flex-direction: column;
    clip-path: circle(100px at 100% -25%);
    -webkit-clip-path: circle(100px at 100% -25%);
    transition: all 0.5s ease-out;
    pointer-events: none;
  }
  .nav-links a {
    color: white;
  }
  .nav-links li {
    opacity: 0;
  }

  .nav-links li a {
    font-size: 25px;
  }
  .burger {
    position: absolute;
    right: 8%;
    top: 24%;
    cursor: pointer;
    z-index: 2;
  }
  .burger div {
    transition: all 0.5s ease;
  }
  .line1,
  .line2,
  .line3 {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    transition: 0.8s ease-out;
    pointer-events: all;
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    transition: all 0.5s ease;
  }
  .toggle .line2 {
    transform: translateX(400%);
    transition: all 0.5s ease;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    transition: all 0.5s ease;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
  }
  li.fade {
    opacity: 1;
  }
  section {
    min-height: 100vh;
    display: flex;
    justify-items: center;
    align-items: center;
  }
  .Home {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.288),
        rgba(27, 27, 27, 0.425)
      ),
      url("img/Homeback.jpeg");
    position: relative;
    background-size: cover;
    background-position: center;
  }
  .homecontent h1 {
    font-size: 40px;
    margin-top: -60%;
  }
  .homecontent p {
    text-align: center;
    max-width: 90%;
    font-size: 16px;
  }
  .About {
    background-size: 90%;
    background-position: right 120% bottom 6%;
    height: 100vh;
  }
  .aboutcontent h2 {
    margin-top: -90%;
  }
  .aboutcontent {
    display: flex;
    flex-direction: column;
  }
  .aboutcontent p {
    max-width: 90%;
    text-align: left;
    font-size: 23px;
    margin-top: 10%;
  }
}
