@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Kaushan+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  background-color: white;
}
nav {
  background-color: #1aa261;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  width: 100%;
  position: fixed;
  transition: 1s ease;
  z-index: 1;
}
.nav-links {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-left: auto;
  transition: 1s ease;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-weight: 550;
}
.nav-links a:hover{
  border: 2px solid white;
  padding-right: 7px;
  padding-left: 7px;
  padding-top:3px;
  padding-bottom: 3px;
  background-color: white;
  transition: 0.3s ease;
  border-radius: 24px;
  color: #2f2e41;
  
}
.logo h4 {
  position: absolute;
  left:70px;
  bottom: 10px;
  color: white;
  letter-spacing: 2px;
  font-size:20px ;
  font-family: 'Pacifico', cursive;
}
.navcolorchange {
  background-color: #2f2e41;
  transition: 1s ease;
}
/* remove flexing after completion add it individually  */
section  {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homecontent{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2f2e41;
}
.homecontent h1{
  position: absolute;
  bottom:400px;
  font-size: 50px;

}
.homecontent p{
  font-size: 20px;
  position: absolute;
  bottom: 340px;
}

.About {
  /* background-color: #1aa260; */
  background-image: url("img/homep1.svg");
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: right 60px top 100px;
  background-color:rgb(231, 228, 228);
}
.aboutcontent {
  color: #2f2e41;
}
.aboutcontent h2 {
  position: absolute;
  top: 758px;
  left: 70px;
  font-size: 54px;
  font-family: "Kaushan Script", cursive;
}
.aboutcontent p {
  position: absolute;
  top: 880px;
  left: 60px;
  text-align: left;
  max-width: 40%;
  font-size: 27px;
  font-style: italic;
  font-family: "Alegreya Sans", sans-serif;
}
.aboutcontent a {
  text-decoration: none;
  color: #1aa260;
}

@media screen and (max-width: 768px) {
  .line1,
  .line2,
  .line3 {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }
  nav {
    display: block;
  }
  .burger {
    position: absolute;
    right: 8%;
    top: 24%;
    cursor: pointer;
    z-index: 2;
  }
  .burger div {
    transition: all 0.5s ease;
  }
  .nav-links {
    position: fixed;
    background-color: #1aa260;
    width: 100%;
    height: 100%;
    flex-direction: column;
    /* display: none; */
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 0.5s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1800px at 90% -10%);
    -webkit-clip-path: circle(1800px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: all;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    transition: all 0.5s ease;
  }
  .toggle .line2 {
    opacity: 0;
    transition: all 0.5s ease;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    transition: all 0.5s ease;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.8s;
  }
  li.fade {
    opacity: 1;
  }
  
  .logo h4{
    bottom: 0.79rem;
    left:2rem;  
  }
section{
  min-height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
}
.Home{
  position: relative;
} 

.homecontent h1{
   position: absolute;
   top:7rem;
   font-size:40px;
 }
 .homecontent p{
   text-align: center;
   max-width: 80%;
   position: absolute;
   top: 11rem;
 }
 
 .About{
   position: relative;
   background-size: 80%;
   background-position: right 50% bottom 6%;
 }
 .aboutcontent h2{
   position: absolute;
   top:40px
 }
 .aboutcontent p{
   position: absolute;
   top:150px;
   left: 20px;
   max-width: 90%;
   text-align: left;
 }


}
